

<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">   
    </head>
    <body class="body">
        <div>
            <img src="../assets/sm.png"><br><br><br>
        </div>
        <div class="row">
            <div  class="col-sm-6" style="padding-left: 100px;" >
             <div class="container">
                 <h3 style="padding-left: 50px; color: rgb(16, 37, 75); font-weight: bolder;">Register</h3><br>
                <label style="padding-right: 78px;">Name</label>
                <input type="text" id="name"><br><br>
                <label>Create Password </label>
                <input type="password" id="pwd1"><br><br>
                <label style="padding-right: 14px;">Phone Number</label>
                <input type="number" id="Phno"><br><br>
                <label style="padding-right: 82px;">DOB</label>
                <input type="date" id="dob"><br><br>
                <button type="button"  class="button" onclick="registerfn()">REGISTER</button>
             </div>
             </div>
             <div class="col-sm-6" style="padding-top:30px;">
                 <h3 style="color: rgb(16, 37, 75); margin-left: 30px; font-weight: bold;">Admin/User Login </h3><br>
                <label>Username</label>
                <input type="text" id="name"><br><br>
                <label>password </label>
                <input type="password" id="pwd1"><br><br>
                <button type="button"  class="button1" onclick="checkFunc()">Login</button>
            </div>
            
        </div>
    </body>
</html>
  