
body{
    background-image: url('C:/bluescope/day2/loginRegisterForm/src/assets/pngguru.com (5).png');
    width: 100%;
    height: 100%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
